*~
*.o
*.rpm
*.spec
*.tar.gz
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
missing
src/whc/cmdswitch.cpp
src/whc/cmdswitch.h
src/whc/config.cpp
src/whc/config.h
src/whc/db.cpp
src/whc/db.h
src/whc/moc_db.cpp
src/whc/moc_whc.cpp
src/whc/profile.cpp
src/whc/profile.h
src/whc/whc
